USE [master]
GO
/****** Object:  Database [E_tendering]    Script Date: 02-05-2022 16:34:47 ******/
CREATE DATABASE [E_tendering]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'E_tendering', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\E_tendering.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'E_tendering_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\E_tendering_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E_tendering].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E_tendering]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 02-05-2022 16:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Admin_name] [nvarchar](20) NULL,
	[Admin_pass] [nvarchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bidder_master]    Script Date: 02-05-2022 16:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bidder_master](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[BName] [nvarchar](50) NULL,
	[BEmail] [nvarchar](50) NULL,
	[Bphone] [nvarchar](50) NULL,
	[Bpassword] [nvarchar](50) NULL,
	[BAddress] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bidder_request]    Script Date: 02-05-2022 16:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bidder_request](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[Bid] [int] NULL,
	[TID] [int] NULL,
	[Amount] [nvarchar](50) NULL,
	[RDate] [datetime] NULL,
	[Statuss] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Log_master]    Script Date: 02-05-2022 16:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Tender_id] [int] NULL,
	[T_Hash] [nvarchar](max) NULL,
	[T_Type] [nvarchar](50) NULL,
	[T_date] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Request_status]    Script Date: 02-05-2022 16:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_status](
	[RequestID] [nvarchar](50) NULL,
	[RequestName] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tender_master]    Script Date: 02-05-2022 16:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tender_master](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[RID] [int] NULL,
	[TotID] [int] NULL,
	[Refno] [nvarchar](50) NULL,
	[Lenghtt] [nvarchar](50) NULL,
	[Weidth] [nvarchar](50) NULL,
	[lane] [nvarchar](50) NULL,
	[Tvalue] [nvarchar](50) NULL,
	[TLocation] [nvarchar](50) NULL,
	[Document] [nvarchar](max) NULL,
	[tender_name] [nvarchar](50) NULL,
	[Tclosingdate] [datetime] NULL,
	[TImage] [nvarchar](max) NULL,
	[Discription] [nvarchar](max) NULL,
	[status] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type_of_road]    Script Date: 02-05-2022 16:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_of_road](
	[RID] [int] IDENTITY(1,1) NOT NULL,
	[Road_type] [nvarchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type_of_Tender]    Script Date: 02-05-2022 16:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_of_Tender](
	[TotID] [int] IDENTITY(1,1) NOT NULL,
	[tender_type] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [Admin_name], [Admin_pass]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Bidder_master] ON 

INSERT [dbo].[Bidder_master] ([BID], [BName], [BEmail], [Bphone], [Bpassword], [BAddress]) VALUES (1, N'bidder1', N'sagarwarchavan28@gmail.com', N'995623658', N'bidder1', N'mubsaiasu')
INSERT [dbo].[Bidder_master] ([BID], [BName], [BEmail], [Bphone], [Bpassword], [BAddress]) VALUES (2, N'bidder2', N'manishghagnf@gmail.com', N'9956236565', N'bidder2', N'sdasd')
INSERT [dbo].[Bidder_master] ([BID], [BName], [BEmail], [Bphone], [Bpassword], [BAddress]) VALUES (3, N'bidder3', N'shreyashchavan779@gmail.com', N'9956565666', N'bidder3', N'sdadasda')
SET IDENTITY_INSERT [dbo].[Bidder_master] OFF
SET IDENTITY_INSERT [dbo].[Bidder_request] ON 

INSERT [dbo].[Bidder_request] ([RID], [Bid], [TID], [Amount], [RDate], [Statuss]) VALUES (1, 2, 2, N'5000', CAST(0x0000AE890100858C AS DateTime), N'3')
INSERT [dbo].[Bidder_request] ([RID], [Bid], [TID], [Amount], [RDate], [Statuss]) VALUES (2, 2, 3, N'5000', CAST(0x0000AE890100B09C AS DateTime), N'2')
INSERT [dbo].[Bidder_request] ([RID], [Bid], [TID], [Amount], [RDate], [Statuss]) VALUES (3, 3, 2, N'3000', CAST(0x0000AE890100CACD AS DateTime), N'2')
SET IDENTITY_INSERT [dbo].[Bidder_request] OFF
SET IDENTITY_INSERT [dbo].[Log_master] ON 

INSERT [dbo].[Log_master] ([id], [Tender_id], [T_Hash], [T_Type], [T_date]) VALUES (1, 0, N'iaLryNVXMYPwSSHaGoDGoOjzu/yTXVkp6KqXsgi5AUk=', N'Registration', CAST(0xE4430B00 AS Date))
INSERT [dbo].[Log_master] ([id], [Tender_id], [T_Hash], [T_Type], [T_date]) VALUES (2, 2, N'R+bATmdTwY7UkgYidzzAMuGic3839TpCudNNOkYIYdE=', N'Registration', CAST(0xE4430B00 AS Date))
INSERT [dbo].[Log_master] ([id], [Tender_id], [T_Hash], [T_Type], [T_date]) VALUES (3, 3, N'3dU+7+bhdvDrR6uZOfRkmuer0k5tBD27DnWGVOpwrbU=', N'Registration', CAST(0xE4430B00 AS Date))
SET IDENTITY_INSERT [dbo].[Log_master] OFF
INSERT [dbo].[Request_status] ([RequestID], [RequestName]) VALUES (N'1', N'Pending')
INSERT [dbo].[Request_status] ([RequestID], [RequestName]) VALUES (N'2', N'Accepted')
INSERT [dbo].[Request_status] ([RequestID], [RequestName]) VALUES (N'3', N'Rejected')
SET IDENTITY_INSERT [dbo].[Tender_master] ON 

INSERT [dbo].[Tender_master] ([TID], [RID], [TotID], [Refno], [Lenghtt], [Weidth], [lane], [Tvalue], [TLocation], [Document], [tender_name], [Tclosingdate], [TImage], [Discription], [status]) VALUES (1, 3, 1, N'443', N'123', N'443', N'2', N'3334', N'mumbai', N'2008-He-ieee.pdf', N'tender1', CAST(0x0000AE9400000000 AS DateTime), N'test1.jpg', N'this is tender 1', 0)
INSERT [dbo].[Tender_master] ([TID], [RID], [TotID], [Refno], [Lenghtt], [Weidth], [lane], [Tvalue], [TLocation], [Document], [tender_name], [Tclosingdate], [TImage], [Discription], [status]) VALUES (2, 2, 1, N'7777', N'155', N'425', N'2', N'544', N'mumbai', N'2008-He-ieee.pdf', N'tender2', CAST(0x0000AE9400000000 AS DateTime), N'test2.jpg', N'this is tender 2', 1)
INSERT [dbo].[Tender_master] ([TID], [RID], [TotID], [Refno], [Lenghtt], [Weidth], [lane], [Tvalue], [TLocation], [Document], [tender_name], [Tclosingdate], [TImage], [Discription], [status]) VALUES (3, 1, 1, N'325', N'155', N'425', N'3', N'5646', N'mumbai', N'2008-He-ieee.pdf', N'tenser3', CAST(0x0000AE9400000000 AS DateTime), N'test3.jpg', N'this is tnser 3', 1)
SET IDENTITY_INSERT [dbo].[Tender_master] OFF
SET IDENTITY_INSERT [dbo].[Type_of_road] ON 

INSERT [dbo].[Type_of_road] ([RID], [Road_type]) VALUES (1, N'EARTHAN ROAD')
INSERT [dbo].[Type_of_road] ([RID], [Road_type]) VALUES (2, N'GRAVEL ROAD')
INSERT [dbo].[Type_of_road] ([RID], [Road_type]) VALUES (3, N'CONCRETE ROAD')
SET IDENTITY_INSERT [dbo].[Type_of_road] OFF
SET IDENTITY_INSERT [dbo].[Type_of_Tender] ON 

INSERT [dbo].[Type_of_Tender] ([TotID], [tender_type]) VALUES (1, N'ROAD CONSTRUCTION')
SET IDENTITY_INSERT [dbo].[Type_of_Tender] OFF
USE [master]
GO
